# Identificadores públicos de la aplicación y la API de Auth0.
VITE_AUTH0_DOMAIN=dev-f2hu17bmssjnxozb.us.auth0.com
VITE_AUTH0_CLIENT_ID=KVsdntBesDAYf7zSW2izexaJjlDc0srV
VITE_AUTH0_AUDIENCE=https://api.fasantamaria.me
VITE_API_URL=https://api.fasantamaria.me
